@import '../GeneralStyles/variables';
@import '../GeneralStyles/mixins';

.nav {
	margin: 0;
	display: flex;
	gap: 64px;

	@media (max-width: $max-small-laptop-width) {
		gap: 30px;
	}

	@media (max-width: $max-tablet-width) {
		position: absolute;
		flex-direction: row;
		gap: 0px;
		justify-content: space-around;
		width: 100vw;
		background: #fff;
		z-index: 10000;
		height: 100%;
		top: 0;
		left: 0;
		transition: all $duration-time;
	}

	&__link {
		position: relative;
		text-decoration: none;
		font-weight: 700;
		text-transform: uppercase;
		color: $secondary-color;
		font-size: 12px;
		line-height: 11px;
		letter-spacing: 0.48px;
		transition: all $duration-time;

		@media (min-width: 869px) {
			@include link-hover;
		}

		@media (max-width: $max-phone-width) {
			font-size: 11px;
		}
	}

	&__close {
		top: 0;
		left: -100vw;
		transition: all $duration-time;
	}
}