@import '../../GeneralStyles/variables';

.footer {
  border-top: 1px solid $elements-color;
  align-self: end;

	@media (max-width: $max-tablet-width) {
		padding-block: 10px;
	}

  &__container {
    min-height: 96px;
    display: flex;
    position: relative;
    justify-content: space-between;

		@media (max-width: $max-tablet-width) {
			flex-direction: column;
			padding-inline: 30px;
		}

		@media (max-width: $max-phone-width) {
			padding-inline: 0;
		}
  }

  &__logo {
    border: none;
    background-color: #fff;
    margin: auto 0;
  }

  &__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

		@media (max-width: $max-tablet-width) {
			left: auto;
			right: 0;
			transform: translate(-30px, -50%);
			flex-direction: column;
			width: fit-content;
			background: transparent;
		}

		@media (max-width: $max-phone-width) {
			transform: translate(0, -50%);
		}
  }

  &__scroll {
    height: 32px;
    font-size: 12px;
    font-weight: 600;
    color: $secondary-color;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: auto 0;

		@media (max-width: $max-tablet-width) {
			padding-left: 0;
		}

    &-text {
      margin-right: 16px;
      transition: all $duration-time;
    }

    &-icon {
      width: 32px;
      height: 32px;
      padding: 7px;
      border: 1px solid $icons-color;
      transition: all $duration-time;
    }

		@media (min-width: 869px) {
			&:hover {
				.footer__scroll-text {
					color: black;
				}
	
				.footer__scroll-icon {
					border: 1px solid $primary-color;
				}
			}
		}
  }

}
