@import './GeneralStyles/fonts';
@import './GeneralStyles/nav';
@import './GeneralStyles/title';
@import './GeneralStyles/variables';

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 3px;
}

html::-webkit-scrollbar-track {
  background: $white-color;
}

html::-webkit-scrollbar-thumb {
  background: $primary-color;
}

body {
  margin: 0;
  font-family: Mont, sans-serif !important;
  scroll-behavior: smooth;
}

img {
  vertical-align: baseline;
}

.main {
	position: relative;
}

.wrapper {
  width: 1136px;
  margin: 0 auto;

	@media (max-width: $max-small-laptop-width) {
		width: 848px;
	}

	@media (max-width: $max-tablet-width) {
		width: 560px;
	}

	@media (max-width: $max-phone-width) {
		width: 272px;
	}
}

.App {
  min-height: 100svh;
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
}

.emptyMessage {
  font-size: 20px;
  margin-top: 30px;
}
